<div class="toolbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="md-flex">Contacts</h2>
    </div>
  </md-toolbar>
</div>
<md-content layout-padding="">
  <md-input-container class="md-block search-box-container">
    <input placeholder="Search for contact" ng-model="$ctrl.search" type="text">
  </md-input-container>
</md-content>

<md-content>
  <md-list flex="">
    <md-virtual-repeat-container id="vertical-container" ng-style="$ctrl.getListHeight()">
      <div md-virtual-repeat="contact in $ctrl.scrollableListItem" md-on-demand flex="">
        <md-list-item class="md-3-line" ng-click="$ctrl.goToContactDetails(contact)">
          <img ng-src="/static/avatar-placeholder.png" class="md-avatar" alt="{{contact.name}}">
          <div class="md-list-item-text" layout="column">
            <h3>{{ contact.name }}</h3>
            <h4>{{ contact.number}}</h4>
            <p>{{ contact.otherInfo}}</p>
          </div>
        </md-list-item>
      </div>
    </md-virtual-repeat-container>
  </md-list>
</md-content>

<md-button ui-sref="add-contact" class="md-fab md-primary add-contact-button" aria-label="Add">
  +
</md-button>
