<div class="toolbar">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back" class="go-back-button" ui-sref="contacts-list">
        <md-icon md-svg-src="/static/arrow_back.svg" aria-label="Go back"></md-icon>
      </md-button>
      <h2 class="md-flex">Contact Details</h2>
    </div>
  </md-toolbar>
</div>

<md-content layout-padding="">
  <md-input-container class="md-block">
    <label>Name</label>
    <input readonly name="name" ng-model="$ctrl.contact.name">
  </md-input-container>

  <div layout="row">
    <md-input-container flex="50">
      <label>Phone Number</label>
      <input readonly="" name="phoneNumber" ng-model="$ctrl.contact.number">
    </md-input-container>

    <md-input-container flex="50">
      <label>Other info</label>
      <input readonly ng-model="$ctrl.contact.otherInfo">
    </md-input-container>
  </div>
</md-content>
