<div class="toolbar">
  <md-toolbar class="">

    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back" class="go-back-button" ui-sref="contacts-list">
        <md-icon md-svg-src="/static/arrow_back.svg" aria-label="Go back"></md-icon>
      </md-button>
      <h2 class="md-flex">Add contact</h2>
    </div>

  </md-toolbar>
</div>

<md-content layout-padding="">
  <form name="contactForm" novalidate="" ng-submit="$ctrl.addContact(contactForm)">

    <md-input-container class="md-block">
      <label>Name</label>
      <input md-maxlength="50" required="" name="name" ng-model="$ctrl.contact.name">
      <div ng-messages="contactForm.name.$error">
        <div ng-message="required">This is required.</div>
        <div ng-message="md-maxlength">The name must be less than 50 characters long.</div>
      </div>
    </md-input-container>

    <div layout="column" layout-fill layout-gt-sm="row">
      <md-input-container felx="100" flex-gt-sm="50">
        <label>Phone Number</label>
        <input md-maxlength="50" required="" name="phoneNumber" ng-model="$ctrl.contact.number">
        <div ng-messages="contactForm.number.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="md-maxlength">The phone number must be less than 50 characters long.</div>
        </div>
      </md-input-container>

      <md-input-container  felx="100" flex-gt-sm="50">
        <label>Other info</label>
        <input nmd-maxlength="100" name="otherInfo" ng-model="$ctrl.contact.otherInfo">
        <div ng-messages="contactForm.otherInfo.$error">
          <div ng-message="md-maxlength">The other info must be less than 100 characters long.</div>
        </div>
      </md-input-container>
    </div>

    <div>
      <md-button type="submit" class="md-raised md-primary" ng-disabled="$ctrl.isSubmitting">Submit</md-button>
    </div>
  </form>
</md-content>
